h1 {
    color: brown;
}

.titulo1 {
    color: blue;
}

#titulo-id {
    color: darkgreen;
}

header {
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 25px;
}

img {
    border-radius: 30px;
}