body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; 
}

.cabecalho {
    grid-row: 1;
    grid-column: 1 / -1;
    background-color: #3e6bdb;
    color: white;
    padding: 20px;
    text-align: center;
}

.conteudo-principal {
    grid-row: 2;
    background-color: #fff;
    padding: 20px;
}

.rodape {
    grid-row: 3;
    grid-column: 1 / -1;
    background-color: #7377ee;
    color: white;
    padding: 10px;
    text-align: center;
}