.content {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.caixa {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: cadetblue;
}

#cx1 {
    animation: blink 20s ease 1s infinite;
}

#cx2 {
    animation: blink 10s ease 2s infinite;
}

#cx3 {
    animation: blink 5s ease 3s infinite;
}

#cx4 {
    animation: blink 4s ease 4s infinite;
}

#cx5 {
    animation: blink 1s ease 5s infinite;
}

@keyframes blink {
    0% {opacity: 0;}
    33% {opacity: 3;}
    66% {opacity: 3;}
    100% {opacity: 0;}
}
